
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@font-face {
  font-family: 'main-icons';
  src: url('../font/main-icons.eot?58897883');
  src: url('../font/main-icons.eot?58897883#iefix') format('embedded-opentype'),
       url('../font/main-icons.woff2?58897883') format('woff2'),
       url('../font/main-icons.woff?58897883') format('woff'),
       url('../font/main-icons.ttf?58897883') format('truetype'),
       url('../font/main-icons.svg?58897883#main-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* color library - default */
:root {
  --fontColor: #000;
  --bodyColor: #efefef;
  --accentColor: #eee;
  --navColor: #b3b3b3;
    
  --fontColorDark: #f2f2f2;
  --bodyColoDark: #262626;
  --accentColorDark: #ccc;
  --navColorDark: #121212;
  
  /* css only colors */
  --opposite: #0003;
  --font: var(--fontColor);
  --nav: var(--navColor);
  --body: var(--bodyColor);
}
/* setting default */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*outline: 1px solid lightgreen;*/
}

i {
  font-family: "main-icons";
  font-style: normal;
  font-size: 1.1em;
  font-weight: normal;
  speak: never;
  display: inline;
  margin-left: .25em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	color: var(--font, #f2f2f2);
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--body, #262626);
}
/* global style for some element that used*/
a {
	color: var(--font, #f2f2f2);
	text-decoration: none; /* Menghilangkan dekorasi tautan seperti garis bawah */
}
label {
	color: inherit;
}
a span {
	color: inherit;
}
a:visited i {
	color: inherit;
}
a:visited span {
	color: inherit;
}
a:visited {
	color: inherit;
}
.hide {
  display: none;
}
.hide-on-small{ }

nav {
	display: flex;
	align-items: center;
	user-select: none;
	transition: 250ms cubic-bezier(0.77, 0.2, 0.05, 1.1);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	flex-direction: row;
	padding: 8px;
	background-color: var(--nav, #121212);
	box-shadow: 0 3px 3px var(--nav, #121212);
	flex-wrap: wrap;
	font-size: 18pt;
	z-index: 999;
  text-shadow: 0 0 1rem #0007;
}
#nav-head {
  display: block;
	font-weight: 800;
  margin-left: 15px;
  flex: 1;
  font-size: 1.3rem;
}
#nav-menu {
	display: inline-block;
  margin: 0;
  order: 0;
}
#nav-menu > a, #nav-search-switch{
	font-size: 1.5rem;
	overflow: hidden;
	padding: 5px;
	font-weight: 700;
	border-radius: 3.5px;
}
#nav-menu a:hover {
	background-color: var(--opposite, #fff3);
}
#nav-search-switch {
  display: inline;
  cursor: pointer;
  min-width: 2em;
}
#nav-search-switch:hover {
	background-color: var(--opposite, #fff3);
}
#nav-search-switch:before {
  content: '\e802';
  font-family: "main-icons";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav input:checked ~ #nav-menu #nav-search-switch:before {
  content: '\e805';
}
#nav-search {
  width: 100%;
  display: none;
  text-align: center;
  flex-wrap: nowrap;
	margin: 20px 0;
	font-size: 1.6rem;
	overflow: hidden;
	margin: 0;
}
#nav-search input {
  flex: 1 1 auto;
  background-color: #fff3;
  border-radius: 0.3em 0 0 0.3em;
  border: none;
  outline: none;
	font-weight: 500;
	line-height: 100%;
  padding: 10px 20px;
  color: black;
}
#nav-search input:placeholder {
  font-size: 25pt;
  font-style: bold;
}
#nav-search button {
  font-size: 1em;
  padding: 5px 20px;
  background-color: #fff3;
  border-radius: 0 0.3em 0.3em 0;
  background-color: #fafafa;
  border: none;
  cursor: pointer;
  margin: 0;
}
nav input:checked ~ #nav-search {
  display: flex;
	margin-top: 20px;
	font-size: 1.4rem;
}

#footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	color: white;
	background-color: #0008;
	padding: 40px 5px;
  text-align: center;
}
#footer div {
	display: block;
	align-items: center;/**/
}
#footer p {
  grid-column: 1 / span 2;
  display: block;
}
#footer div h2 {
  text-align: center;
  width: 100%;
}
#footer div a {
  display: block;
	padding: 2px 0;
}
#footer div svg {
  display: inline;
  margin: auto;
}
#footer div a i {
  max-width: 100px;
  margin-right: 10px;
}

/* when dark mode on */
@media screen and (prefers-color-scheme: dark) {
  :root {
    /* css only colors */
    --opposite: #fff3;
    --font: var(--fontColorDark);
    --nav: var(--navColorDark);
    --body: var(--bodyColorDark);
  }
}

@media screen and (max-width: 800px) {
  .hide-on-small{
		display: none;
  }
  nav {
	  font-size: 10pt;
	  padding: 5px;
  }

  #footer {
    display: block;
  }
}

