
/*
@font-face {
	font-family: 'icomoon';
	src: url('nav-fonts/icomoon.eot?878zuc');
	src: url('nav-fonts/icomoon.eot?878zuc#iefix') format('embedded-opentype'),
	url('nav-fonts/icomoon.ttf?878zuc') format('truetype'),
	url('nav-fonts/icomoon.woff?878zuc') format('woff'),
	url('nav-fonts/icomoon.svg?878zuc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-nav-menu {
	font-family: 'icomoon';
	content: "\e900";
}
.icon-erase {
	font-family: 'icomoon';
	content: "\e901";
}
.icon-search {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	content: "\e902";
}
*/
.topnav {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 1.2%;
	background: #333333;
	min-height: 52px;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	font-size: 16pt;
	font-weight: bold;
	transition: height 10s;
	justify-content: center;
	align-items: center;
}
.topnav .nav-1 {
	margin: auto 0;
}
.topnav .nav-1 a.logo {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: 4px solid white;
	text-align: center;
	padding: 4px 16px;
	box-sizing: border-box;
	margin-right: auto;
	color: white;
	transition: all ease-in .3s;
}
.topnav input, .topnav .nav-1 label{
	display: none;
}
.topnav .nav-menu {
	float: right;
	padding: 0;
	margin: auto 0 auto auto;
	transition: all ease-in .3s;
	display: block;
	box-sizing: border-box;
}
.topnav .nav-menu a {
	display: inline;
	margin: 0;
	padding: 8px;
	font-size: 14pt;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
	color: #f2f2f2;
	text-align: center;
	border-radius: 4pt;
}
.topnav .nav-menu a:hover {
	color: #000;
	background: #f2f2f2;
}
.topnav .nav-menu label {
	border: 0;
	outline: 0;
	font-style: normal;
	font-size: 20pt;
	cursor: pointer;
	text-align: center;
	color: #f2f2f2;
	border-radius: 6pt;
}
.topnav .nav-menu label:active {
	background: #222;
}
.topnav .nav-menu form {
	float: right;
	display: inline;
	margin: 0;
	padding: 0;
}
.topnav .nav-menu form input[type=search] {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: normal;
	background: transparent;
	color: #f2f2f2;
	text-align: left;
	font-size: 14pt;
}
.topnav .nav-menu form button {
	margin: 0;
	display: inline;
	background-color: #0074D9;
	color: #f2f2f2;
	padding: 4px 8px;
	font-size: 18pt;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 930px) {
    .topnav {
	    flex-direction: column;
    }
	.topnav .nav-1 {
		margin: auto 0;
		flex-direction: row;
		width: 100%;
	}
	.topnav .nav-1 a.logo {
		font-size: 14pt;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: auto;
		margin-left: 0;
		padding: 5px 15px;
	}
	.topnav .nav-menu {
		margin: 0;
		display: block;
		width: 100%;
		box-sizing: border-box;
		max-height: 0;
	}
	.topnav .nav-menu a {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.topnav .nav-menu form {
		display: flex;
		flex-direction: row;
		width: 100%;
		box-sizing: border-box;
	}
	.topnav .nav-menu form input {
		width: 90%;
	}
	.topnav .nav-1 label {
		float: right;
		position: relative;
		display: flex;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		width: 40px;
		height: 40px;
		margin: 5px;
	}
	.topnav .nav-1 label span {
		width: 12px;
		height: 12px;
		background-color: transparent;
		border: 4px solid transparent;
		border-top: 4px solid #cccccc;
		border-left: 4px solid #cccccc;
		transform: rotate(-135deg) translate(4px, 4px);
		transition: transform linear .2s;
	}
	.topnav #nav-expand:checked ~ .nav-1 label span {
		transform: rotate(-45deg) translate(4px, 4px);
	}
	.topnav #nav-expand:checked ~ .nav-menu {
		max-height: 500px;
	}
	.topnav #nav-expand:checked ~ a.logo {
		margin-left: 15%;
	}
}