html
{
  alignment-baseline: center;
  background-color: #733bb3;
  background-image: linear-gradient(41deg, #733bb3, #737be3, #ffffff, #737be3, #733bb3);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  padding: 15px;
}
title
{
  font-size:15vw;
  font-weight: bold;
}
body
{
  padding: 20px;
  background-color: SlateBlue;
  font-family: arial;
  font-size: 30pt;
}
h1
{
  font-family:georgia;
  
  text-align:center
}
