:root {
  
}
html {
  background: #733bb3aa
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 20pt;
}
/* top navigation bar style, universal */
.topnav {
  margin: 0;
  padding: 0;
  background: #010101;
  overflow: hidden;
  font-size: 40pt;
}
.topnav a {
  text-decoration: none;
  cursor: pointer;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 6px;
}
.topnav a:hover {
  color: black;
  background: #f2f2f2;
}
.topnav .active {
  font-weight: bold;
  background: #04AA6D;
  color: white;
}
.topnav form {
  padding: 0;
  margin: 0;
  float: right;
  height: var(--nav-s);
}
.topnav form input[type=search] {
  margin: var(--nav-pad);
  outline: 0;
  resize: 0;
  border: 0;
  background: transparent;
  color: #f2f2f2;
  height: 100%;
  width: calc(100% - 3*var(--nav-s));
  text-align: left;
  font-size: 90%;
}
.topnav form button {
  border: 0;
  font-style: normal;
  padding: 2px;
  margin: 0;
  background: #eee;
  resize: none;
  cursor: pointer;
  width: var(--nav-s);
  height: var(--nav-s);
}
.topnav form button:active {
  background: #222;
}
.topnav form button img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.topnav img.expand {
  display: none;
}
@media screen and (max-width: 800px) {
  .topnav {
    --nav-base: 45px;
  }
  .topnav a:not(:first-child), .topnav form{
    display: none;
  }
  .topnav img.expand {
	color: white;
    position: absolute;
    padding: var(--nav-pad);
    display: block;
    width: var(--nav-s);
    height: var(--nav-s);
    right: 0;
    top: 0;
  }
  .topnav.mini a, .topnav.mini form {
    float: none;
    display: block;
    width: 100%;
  }
}
/* content */
title {
  font-weight: bold;
}
h1 {
  font-family:georgia;
  text-align:center
}
