# redirect to error page
ErrorDocument 404 500 /error.html
# caching expires
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 month"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
</IfModule>
# caching option
<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
  <FilesMatch "\.(css|js|jpe?g|png|gif|svg)$">
    Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>
</IfModule>

